.ios, .md {
 
  page-slider {
 
  	.slide_1{
  		background-color: #FFD744;
  	}
  	.slide_2{
  		background-color: #69BB7B;
  	}
  	.slide_3{
  		background-color: rgb(223, 84, 84);
  	}

    ion-slide img {
      height: 70vh !important;
      width: auto !important;
    }

    ion-icon {
      margin-top: 40%;
      font-size:7em;
    }
    .diag {
      position: absolute;
      z-index: 1;
      width:100%;
      top: 0;
      height:66%;
    }



    h2 {
        margin-top:80% !important;
        font-weight:bold;
        font-size:1em;
    }

    p {
        width:80%;
        display:block;
        margin: 0 auto;
        font-size:.9em;
    }

    .swiper-pagination {
        bottom: 12% !important;
    }

    #skip {
        position:absolute;
        bottom: 20px;
        width:100%;
        background:none !important;
        text-align:center;
        cursor:pointer;
        font-size:15px;
        color: white;
        z-index:5;
    }

    #login {
      margin-top:5%;
      color: white;
      font-size:15px;
      width:100%;
      background:none !important;
      text-align:center;
      z-index:5;
    }
  }
}
