<!--
  Generated template for the Search page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="onSearchChange()" placeholder="Busca una revista">
    </ion-searchbar>
    <!-- If we want to enable 'Search button', can be re-enabled
    <ion-buttons end>
      <button ion-button color="white" (click)="onSearch()">{{ 'Search' | translate }}</button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>
<ion-content>
  <div *ngIf="noResult" class="empty">
    <h3>{{ 'No_Results' | translate }}</h3>
  </div>
  <ion-list *ngIf="result;else elseBlock">
    <ion-item *ngFor="let product of products2" (click)="viewProduct(product)">
        <ion-avatar item-start>
          <img src="{{ product.images[0].src }}">
        </ion-avatar>
        <h2>{{ product.name }}</h2>
        <div class="badge" *ngIf="product.on_sale">
          <span class="sale">Oferta</span>
        </div>
        <p [innerHTML]="appConfig.Shop_Currency_format+product.price_html"></p>
    </ion-item>
  </ion-list>
  <ng-template #elseBlock>
    <div class="empty">
      <h3>Empieza a buscar productos</h3>
    </div>
  </ng-template>
</ion-content>
